[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "3rdparty/RapidJSON"]
	path = 3rdparty/RapidJSON
	url = https://github.com/Tencent/rapidjson.git
